$relative-path: '../assets/';

/*-------------------------------*/
$color-white: #fff;
$color-black: #000;
$color-light-black: #333;
$color-blue: #63b5f7;
/*-------------------------------*/

$font-primary: 'Poppins', sans-serif;

/*-------------------------------*/

$font-size-small: 1.4rem;
$font-size-regular: 1.6rem;
$font-size-medium: 1.8rem;
$font-size-medium-large: 2rem;
$font-size-large: 2.2rem;
$font-size-Xlarge: 2.8rem;

/*-------------------------------*/
$font-weight-thin: 200;
$font-weight-small: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

/*-------------------------------*/

$spacing-small: 0.2px;
$spacing-normal: 0.4px;
$spacing-medium: 0.6px;

/*-------------------------------*/

$line-height-small: 24px;
$line-height-normal: 30px;

/*-------------------------------*/

$margin-between-sections: 60px auto;
