.footer {
	height: 55px;
	margin-top: 50px;
	display: flex;
	align-items: center;
	background-color: $color-blue;

	&__description {
		margin: 0 auto;
		font-size: $font-size-small;
		font-weight: $font-weight-regular;
		color: $color-white;
	}
}
