.projects {
	position: relative;
	top: 0;
	left: 0;
	margin: $margin-between-sections;
	&::after {
		content: '';
		position: absolute;
		top: 40px;
		left: -50%;
		transform: translateX(50%);
		width: 200px;
		height: 200px;
		border-radius: 50%;
		background-color: rgba(99, 181, 247, 0.7);
		z-index: -1;

		@include mq(medium) {
			top: 350px;
			left: -248px;
			width: 500px;
			height: 500px;
			transform: translateX(0%);
		}

		@include mq(xlarge) {
			width: 600px;
			height: 600px;
			left: -267px;
		}

		@include mq(large-laptop) {
			width: 700px;
			height: 700px;
			left: -296px;
		}

		@include mq(desktop) {
			width: 900px;
			height: 900px;
			left: -384px;
		}
	}
}
