@import './utils/mixins';
@import './utils/variables';
@import './tools/reset';

@import './components/hamburger';
@import './components/project';
@import './components/technology';

@import './layout/navigation';
@import './layout/hero';
@import './layout/about';
@import './layout/projects';
@import './layout/technologies';
@import './layout/contact';
@import './layout/footer';

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: $font-primary;
	font-size: 1.6rem;
	line-height: 1.5;
}

.container {
	margin: 0 auto;
	padding-top: 80px;
	overflow: hidden;
}

.section-title {
	margin-bottom: 40px;
	position: relative;
	top: 0;
	left: 0;
	font-size: $font-size-large;
	font-weight: $font-weight-regular;
	text-transform: uppercase;
	text-align: center;

	&::after {
		content: '';
		width: 15%;
		height: 2px;
		position: absolute;
		bottom: -7px;
		left: 50%;
		transform: translateX(-50%);
		background-color: $color-blue;
	}
}
