@import './utils/mixins';
@import './utils/variables';
@import './tools/reset';

@import './components/hamburger';
@import './components/navigation';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-size: 1.6rem;
  line-height: 1.5;
}
