#about {
    margin: 100px auto auto auto;
    font-weight: bold;
    h5,
    .lead {
        color: $color-grey;
        font-size: 25px;
        font-weight: bold;
    }
    h1 {
        color: $color-orange;
        font-weight: bold;
        font-size: $font-lg-size;
    }
    .text-biography {
        color: $color-light-grey;
    }
    @keyframes blink {
        0% {
            opacity: 0
        }
        49% {
            opacity: 0
        }
        50% {
            opacity: 1
        }
    }
    blink {
        animation: blink 1.5s infinite;
        color: $color-orange;
    }
}
