#navigation {
    .navbar {
        background-color: $color-grey;
    }
    .navbar-brand {
        color: $color-orange;
        font-weight: bold;
    }
    .nav-link {
        color: $color-white;
        float: right;
        font-weight: normal;
    }
    i {
        color: $color-orange;
    }
    .nav-flex-icons {
        float: right;
    }
}
